NODE_ENV=development
PORT=3001
API_PREFIX=api/v1
# Várias origens separadas por vírgula (Firebase .web.app,.firebaseapp.com)
CORS_ORIGIN=http://localhost:3000

DATABASE_URL="postgresql://wps_car:wps_car_secret@localhost:5432/wps_car?schema=public"

JWT_ACCESS_SECRET=change-me-access-secret-min-32-characters-long
JWT_REFRESH_SECRET=change-me-refresh-secret-min-32-characters-long
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=10
